* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #FFF0F2;
    font-family: Montserrat, sans-serif;
}

.navbar {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 1px black;
    padding: 0 8% 0 8%;
}

.logo {
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    color: #FF9DBA;
}

.search {
    width: 16%;
    margin-left: 10%;
    padding-left: 15px;
    display: block;
    height: 2.1rem;
    background-color: #FFF0F2;
    border-radius: 8px;
    border: none;
    outline: none;
    color: #FF9DBA;
    font-family: inherit;
}

nav {
    flex: 1;
    text-align: right;
}

ul li {
    list-style: none;
    display: inline-block;
    margin-left: 50px;
}

ul li a {
    color: #FF9DBA;
}

ul li a:hover {
    color: #FFC0CB;
}