* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #fff;
    font-family: Geometria, sans-serif;
}

.navbar {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 1px black;
    padding: 0 8% 0 8%;
}

.logo {
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    color: #FF9DBA;
}

nav {
    flex: 1;
    text-align: right;
}

ul li {
    list-style: none;
    display: inline-block;
    margin-left: 50px;
}

ul li a {
    color: #000;
}

ul li a:hover {
    color: #FFC0CB;
}

.info-block {
    
}

.block {
    font-family: Roboto, sans-serif;
    text-align: center;
    margin: 250px;
    background: #FFC0CB;
    border-radius: 25px;
    padding: 30px;
    color: #fff;
    margin-right: 40%;
    margin-left: 40%;
}

.block:hover {
    background-color: #FF9AAB;
}

.block h1 {
    padding-bottom: 15px;
}

.block-two {
    text-align: center;
    margin: -220px 0px -150px -150px;
    background: #FFC0CB;
    border-radius: 25px;
    padding: 30px;
    color: #fff;
    margin-right: 40%;
    margin-left: 40%;
}